[submodule "external_lib/osmium"]
	path = external_lib/osmium
	url = git@git.motis-project.de:lib/osmium.git
[submodule "external_lib/googletest"]
	path = external_lib/googletest
	url = git@git.motis-project.de:lib/googletest.git
[submodule "external_lib/guess"]
	path = external_lib/guess
	url = git@git.motis-project.de:lib/guess.git
[submodule "external_lib/expat"]
	path = external_lib/expat
	url = git@git.motis-project.de:lib/expat.git
[submodule "external_lib/zlib"]
	path = external_lib/zlib
	url = git@git.motis-project.de:lib/zlib.git
